*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    
}
input{
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
}
#btn{
    padding: 15px;
    border: none;
    border-radius: 2px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 500;
    
}
